%h1= @ticket.subject

.row
  - if current_user
    .col-md-3
      .panel.panel-default.ticket
        .panel-body
          = form_for @ticket do |f|
            .form-group
              = f.select :status_key, [['Select status','']] + statues_for_select, {}, class: 'form-control'
            = f.submit 'Update status', class: 'btn btn-primary'
  %div{class: current_user ? "col-md-9" : "col-md-12"}
    .panel.panel-default.activity
      .panel-heading
        .panel-title
          .pull-left
            %span.label.label-default= @ticket.department
            %small reference: #{@ticket.reference}
          .pull-right
            = ticket_status_label(@ticket)
            = ticket_open_label(@ticket)
          .clearfix
      .panel-body     
        %blockquote
          %p= @ticket.body
      .panel-footer
        %small
          .pull-left
            ticket submitted by <strong>#{@ticket.name} (#{@ticket.email})</strong> #{time_ago_in_words(@ticket.created_at)} ago
          .pull-right
            - if current_user && !@ticket.is_assigned?
              = render 'own_button', ticket: @ticket
            - else
              - if @ticket.user
                %strong owner: 
                = @ticket.user.email
          .clearfix

- @ticket.activities.each do |activity|
  .connector
  - if activity.is_comment?
    .panel.panel-default.activity
      .panel-body
        %p= activity.comment.text
      .panel-footer
        %small
          comment submitted by <strong>#{activity.comment.submitter_name} (#{activity.comment.submitter_email})</strong> #{time_ago_in_words(activity.comment.created_at)} ago
  - else
    .text-right
      %small= activity.message

- @ticket.comments.select{|c|c.new_record?}.each do |comment|
  .connector
  = form_for @ticket do |f|
    .panel.panel-default
      .panel-body
        = render "shared/error_messages", target: @ticket
        = f.fields_for :comments, comment do |b|
          = b.hidden_field :user_id
          - if current_user.nil?
            .form-group
              = b.text_field :email, class: 'form-control', placeholder: 'your email'
          .form-group
            = b.text_area :text, class: 'form-control', placeholder: 'your comment'
      .panel-footer
        = f.submit 'Add comment', class: 'btn btn-lg btn-primary'