%h1= @ticket.subject

.panel.panel-default.activity
  .panel-heading
    .panel-title
      %span.label.label-default= @ticket.department
      %small reference: #{@ticket.reference}
  .panel-body     
    %blockquote
      %p= @ticket.body
  .panel-footer
    %small
      .pull-left
        ticket submitted by <strong>#{@ticket.name} (#{@ticket.email})</strong> #{time_ago_in_words(@ticket.created_at)} ago
      .pull-right
        - if current_user && @ticket.is_open?
          = render 'own_button', ticket: @ticket
        - else
          - if @ticket.user
            %strong owner: 
            = @ticket.user.email
      .clearfix

- @ticket.comments.each do |comment|
  .connector
  - if comment.persisted?
    .panel.panel-default.activity
      .panel-body
        %p= comment.text
      .panel-footer
        %small
          comment submitted by <strong>#{comment.submitter_name} (#{comment.submitter_email})</strong> #{time_ago_in_words(comment.created_at)} ago
  - else
    = form_for @ticket do |f|
      .panel.panel-default
        .panel-body
          = render "shared/error_messages", target: @ticket
          = f.fields_for :comments, comment do |b|
            = b.hidden_field :user_id
            - if current_user.nil?
              .form-group
                = b.text_field :email, class: 'form-control', placeholder: 'your email'
            .form-group
              = b.text_area :text, class: 'form-control', placeholder: 'your comment'
        .panel-footer
          = f.submit 'Add comment', class: 'btn btn-large btn-primary'